.div-action {
  position: absolute;
  right: 0px;
  padding-right: 8px;
}
.threedots {
  cursor: pointer;
  margin: 0;
}
.headerModal {
  position: absolute;
  transform: translate(0%, -30%);
  z-index: 1000;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 20px 1px rgba(197, 197, 197, 0.5);
  padding: 8px 0;
  min-width: 190px;
  max-width: 400px;
}
.updateBtn {
  position: relative;
  height: 24px;
  line-height: 24px;
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 0px 70px 0px 0px;
  width: 100%;
}
.updateBtn:hover {
  background-color: #f2f2f2;
}
.deleteBtn {
  border: none;
  background-color: white;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  padding: 0px 100px 0px 0px;
  width: 100%;
}
.deleteBtn:hover {
  background-color: #f2f2f2;
}
