.underlink {
  display: inline-block;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}
.footer-topRight {
  flex: 1;

  display: flex;

  flex-direction: column;
  gap: 5px;
}
.footer-row {
  background: #212121;
  color: #fff;
  border-radius: 5px;
  flex: 1;
  display: flex;
  gap: 0 114px;
  padding: 20px 47px 19px 47px;
}
.footer-col {
  flex: 1;
}
.footer-header {
  font-size: 14.2px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 14.2px;
}
.button {
  background-color: #ff622b;
  height: 47.6px;
  display: inline-block;
  border-radius: 5px;
  display: inline-flex;
  white-space: nowrap;
  padding: 0 33px;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
/* .footer-bottom {
  height: 47.62px;
  width: 100%;
  margin-top: 4.7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9.5px 38px;
  text-transform: uppercase;
  font-size: 9.5px;
  letter-spacing: 0.95px;
  line-height: 14.2px;
  background: #212121;
  color: #fff;
  border-radius: 5px;
} */
