/* Common styles for counters */
#section-couter,
#section-couter1,
#section-couter2,
#section-couter3 {
  width: 90px;
  height: 90px;
  border: 1px solid black;
  position: absolute;
}

#section-couter h1,
#section-couter1 h1,
#section-couter2 h1,
#section-couter3 h1 {
  position: absolute;
  font-size: 27px;
}

#section-couter p,
#section-couter1 p,
#section-couter2 p,
#section-couter3 p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#section-couter p::before,
#section-couter1 p::before,
#section-couter2 p::before,
#section-couter3 p::before {
  content: "";
  position: absolute;
  margin-top: -0.5px;
  top: 0;
  right: 0;
  width: 125px;
  height: 100%;
  border-top: 1px solid black;
  transform-origin: top right;
  transform: translateY(100%) rotate(45deg);
}

/* Specific positions for each counter */
#section-couter {
  right: 20px;
  top: 20px;
}
#section-couter h1 {
  bottom: 5px;
  left: 5px;
}

#section-couter1 {
  right: 0px;
  bottom: 0px;
}
#section-couter1 h1 {
  left: 5px;
}

#section-couter2 {
  top: 10rem;
  right: 5rem;
}
#section-couter2 h1 {
  bottom: 5px;
  left: 5px;
}

#section-couter3 {
  top: 146px;
  left: 0;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
#section-couter3 h1 {
  bottom: 5px;
  left: 5px;
}

/* Rolling banners */
#rollingBanner1,
#rollingBanner-2,
#rollingBanner-3 {
  overflow: hidden;
  position: relative;
}

#rollingBanner-rail1,
#rollingBanner-rail-2 {
  display: flex;
}

#rollingBanner-rail1 h1,
#rollingBanner-rail1 span,
#rollingBanner-rail-2 h1,
#rollingBanner-rail-2 span {
  white-space: nowrap;
  margin: 0 10px;
  font-size: 38px;
}

#rollingBanner-rail1 h1,
#rollingBanner-rail1 span {
  color: #fff;
}

#rollingBanner-rail-2 h1,
#rollingBanner-rail-2 span {
  color: black;
}

#rollingBanner-rail1 img,
#rollingBanner-rail-2 img {
  display: inline-block;
  margin: 0 10px;
  height: 20px;
  width: 20px;
}

/* Animations */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Applying animations */
#rollingBanner-rail1 {
  animation: scroll 30s linear infinite;
}

#rollingBanner-rail-2 {
  animation: scroll-reverse 10s linear infinite;
}

#people-client-1,
#people-client-2 {
  overflow: hidden;
  position: relative;
}

#people-clientRail-1,
#people-clientRail-2 {
  display: flex;
}

#people-clientRail-1 {
  animation: scroll 10s linear infinite;
}

#people-clientRail-2 {
  animation: scroll-reverse 10s linear infinite;
}

#people-clientRail-1 span,
#people-clientRail-2 span {
  white-space: nowrap;
}

#people-clientRail-1 img,
#people-clientRail-2 img {
  display: inline-block;
}
