#circle {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
#circle-input {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  transform: translate(6.5%, 6%);
}

#timer {
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
