body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
}
h1 {
  font-family: "PP Right", sans-serif;
  font-weight: 700;
}
.diagonal-border {
  @apply absolute inset-0 border-l-2 border-blue-500;
  transform: rotate(45deg);
  transform-origin: top left;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "PP Right";
  src: url(./fonts/PPRightGrotesk-CompactDark.otf);
  src: url(./fonts/PPRightGrotesk-CompactDark.otf?#iefix) format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
